html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.3;
    background: $red;
    background-image: url(/images/bg-intro-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}
@media (max-width: 800px) {
    body {
        background-image: url(/images/bg-intro-mobile.png);
        background-position: center;
        background-size: cover;        
    }
} 
a,
a:visited,
a:hover {
    text-decoration: none;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


//FrontendMentors.com
.attribution {
    margin-top: auto;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
