.wrapper {
    width: 90%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.signup {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    height: 100vh;
    padding: 0 80px;
}

.signup--content {
    flex: 1 1 570px;

    h2.signup--heading {
        color: $white;
        font-size: $font-large;
        font-weight: 700;
        line-height: 1.2em;
        max-width: 440px;
        padding-bottom: 10px;
    }

    p.signup--copy-main {
        color: $white;
        font-size: $font-med;
        font-weight: 400;
        max-width: 500px;
        line-height: 1.8em;
    }
}

.signup--form {
    flex: 1 1 540px;

    .signup--cta {
        background-color: $blue;
        border-radius: 10px;
        padding: 3px 0;
        margin: 0;
        width: 100%;
        text-align: center;
        border: 1px solid #804C73;
        box-shadow: 0 9px 0px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 25px;
    }

    p.signup--copy-secondary {
        color: $white;
        font-size: $font-med;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid #D98D8F;
    padding: 40px;
    box-shadow: 0 9px 0px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 20px 35px;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 22px;
    border: 1px solid $grayBlue;
    font-size: $font-med;
    font-weight: 700;
    color: $darkBlue;

    &:focus:invalid {
        background: url(/images/icon-error.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 95% 20px;

        &:focus {
            border: 1px solid $blue;
            outline: none;
            caret-color: $blue;
            color: $darkBlue;

            &:focus::-webkit-input-placeholder {
                color: $darkBlue;
            }
        }
    }
}

button.signup__free-trial {
    color: $white;
    background-color: $green;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-med;
    letter-spacing: 0.1em;
    border: none;
    padding: 18px 30px 15px 30px;
    border-radius: 5px;
    border-bottom: 4px solid #32B87D;
    -webkit-transition: 150ms;
    transition: 150ms ease-in-out;
    outline: none;

    &:hover {
        border-bottom-width: 0;
        margin-top: 4px;
        cursor: pointer;
    }
}

.signup--tos {
    font-size: $font-small;
    color: $grayBlue;
    font-weight: 500;
    text-align: center;

    a.signup--link {
        color: $red;
        transition: color 300ms ease-in-out;
        line-height: 2.5em;
    }

    a.signup--link:hover {
        color: $blue;
    }
}

@media (max-width: 800px) {
    .signup {
        padding: 0;
    }

    .signup--form,
    .input-group {
        width: 100%;
    }

    .signup--cta {
        padding: 0 60px;
        width: 100%;
    }

    .input-group {
        padding: 25px;
    }

    h2.signup--heading {
        font-size: 2.2rem !important;
        text-align: center;
        margin-top: 60px;
        max-width: 100% !important;
    }

    p.signup--copy-main {
        text-align: center;
        max-width: 100% !important;

    }

    .signup--content {
        margin-bottom: 18px;
    }

    .input-group {
        margin-bottom: 60px;
    }

    button.signup__free-trial {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1420px) {
    h2.signup--heading {
        text-align: center;
        max-width: 100% !important;
    }

    p.signup--copy-main {
        text-align: center;
        max-width: 100% !important;
    }
}