//Colours
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$white: hsl(0, 0%, 100%);
$darkBlue: hsl(249, 10%, 26%);
$grayBlue: hsl(246, 25%, 77%);

//Font Sizes
$font-small: 0.713rem; //11px
$font-med: 1rem; //16px 
$font-large: 3.2rem; //51px 
$font-xlarge: 4rem; //64px